{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 46.0500315,
    "longitude": 14.4690116,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Ljubljana",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "SI",
    "language": "en-GB",
    "radius": 100
  }
}